<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="MySqlContext" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=example" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>