<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="EFDemoConn" connectionString="server=.;database=EFDemo;uid=sa_test;password=123456;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>