@*@model OptionBindSample.Class
    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>
    <h4>ClassNo:@Model.ClassNo</h4>
    <h4>ClassNo:@Model.ClassDesc</h4>
    <h3>
        Students:
    </h3>
    <div>
        @foreach (var student in Model.Students)
        {
            <span>Name:@student.Name</span>
            <span>Age:@student.Age</span>
        }
    </div>*@

@using Microsoft.Extensions.Options;
@*@inject IOptions<OptionBindSample.Class> ClassAccesser*@

@*配置热更新*@
@inject IOptionsSnapshot<OptionBindSample.Class> ClassAccesser

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>ClassNo:@ClassAccesser.Value.ClassNo</h4>
<h4>ClassNo:@ClassAccesser.Value.ClassDesc</h4>
<h3>
    Students:
</h3>
<div>
    @foreach (var student in ClassAccesser.Value.Students)
    {
        <span>Name:@student.Name</span>
        <span>Age:@student.Age</span>
    }
</div>